
#btnGenerar {
    -fx-background-color:  #094880;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#btnGenerar:hover{
    -fx-background-color: #3B82F6;
}

#btnGenerar:armed{
    -fx-background-color: #1E40AF;
}

#labelReportes {
    -fx-padding: 0 0 0 0;
    -fx-font-weight: bold;
}

#btnArea {
    -fx-background-color: #3B82F6;
}